.movieList {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 10px;
}

.movieList .line {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 5px;
}

.movieList h3 {
    font-size: 1.1em;
    font-weight: medium;
}

.movieList .movies {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    max-width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.movieList .movies::-webkit-scrollbar {
    display: none;
}

.movieList .movie {
    width: 120px;
    height: 180px;
    background: gray;
    flex-shrink: 0;
    border-radius: 10px;
}

@media (min-width: 470px) {
    .movieList .movie {
        width: 150px;
        height: 225px;
        gap: 30px;
    }

    .movieList .movie {
        width: 150px;
        height: 225px;
    }
}

@media (min-width: 768px) {
    .movieList {
        margin: 40px 0 0 30px;
    }

    .movieList h3 {
        font-size: 1.4em;
    }
    
    .movieList a {
        font-size: 1em;
        margin-right: 10px;
    }
}