.signin {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.signin-container {
    background: var(--purple);
    width: 100%;
    height: 70vh;
    border-radius: 30px 30px 0 0;
}

.signin-content {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-content h2 {
    text-align: center;
    font-size: 1.5em;
}

.signin-content label {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: bold;
}

.signin-content input[type="text"],
.signin-content input[type="password"] {
    width: 100%;
    padding: 0.8em 1em;
    margin-bottom: 0.2em;
    border: 3px solid var(--purple);
    border-radius: 2em;
    font-size: 1em;
    color: var(--black);
    transition: 0.3s ease;
}

.signin-content input[type="text"]:focus,
.signin-content input[type="password"]:focus {
    border: 3px solid var(--yellow);
    outline: none;
}

.signin-content span {
    margin-left: 0.8em;
    color: var(--yellow);
    font-weight: light;
}

.signin-content button {
    display: block;
    margin: 2em 0 1em 0;
    width: 100%;
    padding: 0.5em;
    background-color: var(--violet);
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.1em;
}

.signin-content button:hover {
    background: var(--yellow);
}

.signin-content a {
    text-align: center;
}

@media (min-width: 470px) {
    .signin {
        justify-content: center;
        align-items: center;
    }

    .signin-container {
        border-radius: 30px;
        width: 600px;
        height: 500px;
    }

    .signin-content {
        padding: 3em 5em;
    }
}
