.movieCheckout {
    padding: 1.2em 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.movieCheckout section {
    margin: 2em 0;
}

.movieCheckout h2 {
    margin-bottom: 0.2em;
    width: 100%;
}

.movieCheckout h3 {
    font-weight: normal;
}

.movieCheckout select {
    width: 100%;
    border: 0;
    outline: 0;
    background: var(--purple);
    color: var(--white);
    border-radius: 1em;
    border: 0.6em solid var(--purple);
    border-left: 1em solid var(--purple);
    border-right: 1em solid var(--purple);
}

.selectTime {
    display: flex;
    flex-wrap: wrap;
}

.sessionType {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
}

.sessionType h3 {
    width: 100%;
}

.sessionType input[type="radio"] {
    display: none;
}

.sessionType label {
    margin: 0.5em 0;
}

.sessionType span {
    padding: 0.3em 0.6em;
    border: 3px solid var(--violet);
    color: var(--violet);
    border-radius: 0.8em;
    font-weight: 500;
    font-size: 1.3em;
}

.sessionType input[type="radio"]:checked + span {
    color: var(--yellow);
    border: 3px solid var(--yellow);
}

.selectTickets {
    display: flex;
    flex-wrap: wrap;
    gap: 0 3em;
}

.ticketType {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2em;
}

.inputNumber {
    display: flex;
    align-items: center;
}

.inputNumber span {
    width: 2em;
    color: var(--yellow);
    border-top: 3px solid var(--violet);
    border-bottom: 3px solid var(--violet);
    background: transparent;
    text-align: center;
    font-size: 1.4em;
}

.inputNumber button {
    color: var(--yellow);
    background: transparent;
    font-weight: bold;
    outline: none;
    border: 3px solid var(--violet);
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0 1.5em 1.5em 0;
    font-size: 1.4em;
    padding: 0 0.3em;
}

.inputNumber button:first-child {
    border-radius: 1.5em 0 0 1.5em;
}

.inputNumber button:active {
    border: 3px solid var(--yellow);
}

.movieCheckout > button {
    display: block;
    margin: 2em 0 1em 0;
    width: 100%;
    padding: 0.5em;
    background-color: var(--violet);
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1.1em;
}

.movieCheckout > button:hover {
    background: var(--yellow);
}

.movieCheckout > button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.checkoutInfo {
    margin: 2em 1em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    scroll-behavior: auto;
}

@media (min-width: 1100px) {
    .movieCheckout {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto auto auto;
        gap: 0 2em;
    }

    .selectSits {
        grid-column: 2;
        grid-row: 1/4;
    }
}
