.banner {
    width: 100%;
    height: 800px;
    max-height: 60vh;
    background-image: url("https://image.tmdb.org/t/p/w1280/${path_image}");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner img {
    display: none;
}
