header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--purple);
    padding: 10px 15px;
}

header ul {
    list-style: none;
    display: flex;
}

header .icon {
    font-size: 1.5em;
    margin-left: 10px;
}

header .logo {
    width: 120px;
}

@media (min-width: 470px) {
    header {
        padding: 10px 15px;
    }

    header .logo {
        width: 45px;
        height: 70px;
        object-position: 0 5px;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        width: 180px;
        height: auto;
        object-position: 0 0;
    }

    header .icon {
        font-size: 1.8em;
    }
}
