.submenu {
    padding: 0 1em;
    max-width: 1500px;
    margin: 0 auto;
    position: sticky;
    top: 62px;
    z-index: 10;
    background: var(--black);
}

.submenu .items {
    display: flex;
    border-bottom: 1px solid #d9d9d9;
}

.submenu .items a {
    font-size: 1.2em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.submenu .items a.active,
.submenu .items a:hover {
    box-shadow: 0 2px 0 0 var(--yellow);
}

.active {
    box-shadow: 0 2px 0 0 var(--yellow);
}

@media (min-width: 470px) {
    .submenu {
        top: 90px;
    }
}

@media (min-width: 768px) {
    .submenu {
        top: 93px;
    }
}

@media (min-width: 900px) {
    .submenu {
        padding: 0 2em;
    }
}
