:root {
    --purple: #17082a;
    --yellow: #f79e44;
    --violet: #6644b8;
    --black: #0c0f0a;
    --white: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: "Poppins", sans-serif;
}

h1,
h2 {
    font-family: "Merriweather Sans", sans-serif;
}

a {
    text-decoration: none;
    color: red;
}

a:hover, a:hover > *, .active {
    color: var(--yellow);
    fill: var(--yellow) !important;
}

